/*Estilo da página index.html*/ 

.center{

    text-align: center;
}

.justify{
    text-align: justify;
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li{
    display: inline;
    padding: 15px;
}

/*Estilo da página Local-de-atuacao.html*/ 